<% include layouts/top %>
<div class="row">
  <blockquote class="pull-right">
    <p>Minigra zespołowa</p>
    <small>Polega na grupowej pracy</small>
  </blockquote>
</div>

<div class="row">
  <div class="span4">
    <div class="well">
      <h4>Gracze</h4>
      <ul id="users_list" class="unstyled">
      </ul>
    </div>
  </div>
  <div id="container" class="span5">
    <div id="start_game" class="btn btn-primary btn-large btn-block"><i class="icon-play"></i> Rozpocznij grę!</div>
    <div id="question_content" style="display: none;">
      <h4><span id="question"></span> <span id="question_time"></span></h4>
      <div class="input-append">
        <input class="span2" id="question_input" type="text">
        <button id="question_submit" class="btn" type="button">Dalej!</button>
      </div>
    </div>
  </div>
  <div id="game_time_col" class="span3">
    <div id="game_time"></div>
  </div>
</div>
<% include layouts/bottom %>