<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href='/stylesheets/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/countDown.js'></script>
    <script src='/javascripts/script.js'></script>
  </head>
  <body>
    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="span12">